<!DOCTYPE html>
<html>
<head>
  <title>Charger</title>
  <%= stylesheet_link_tag    "charger/application", media: "all" %>
  <%= javascript_include_tag "charger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
